.window-activity {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	min-width: 100vw;
	justify-content: flex-start;
	align-items: center;
  	opacity: 0;
  	animation: ani 2.5s forwards;
}

@keyframes ani {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

.about-window-activity {
	display: flex;
	flex-direction: column;
	min-height: 80px;
	min-width: 700px;
	max-width: 700px;
	color: white;
	font-weight: bold;
	font-size: 24px;
	line-height: 24px;
	background-color: #514869;
	border-radius: 10px;
	margin-top: 20px;
	padding: 15px;
	justify-content: center;
	align-items: center;
	margin-bottom: 150px;
}

.about-window-activity a {
	color: white;
	text-decoration: none;
}

.about-window-activity a:hover {
	cursor: pointer;
	text-decoration: underline;
}

.title {
	display: flex;
	height: 60px;
	width: 300px;
	color: white;
	font-weight: bold;
	font-size: 24px;
	line-height: 24px;
	background-color: #514869;
	border-radius: 10px;
	margin-top: 150px;
	justify-content: center;
	align-items: center;
}

.activity {
	display: flex;
	height: 80px;
	width: 600px;
	color: white;
	font-weight: bold;
	font-size: 24px;
	line-height: 24px;
	background-color: #514869;
	border-radius: 10px;
	margin-top: 20px;
	padding: 5px;
	justify-content: center;
	align-items: center;
}

.current-time {
	display: flex;
	height: 80px;
	width: 600px;
	color: white;
	font-weight: bold;
	font-size: 24px;
	line-height: 24px;
	background-color: #514869;
	border-radius: 10px;
	margin-top: 20px;
	padding: 5px;
	justify-content: center;
	align-items: center;
}

.current-participants {
	display: flex;
	height: 80px;
	width: 190px;
	color: white;
	font-weight: bold;
	font-size: 24px;
	line-height: 24px;
	background-color: #514869;
	border-radius: 10px;
	margin-top: 20px;
	margin-right: 215px;
	padding: 5px;
	justify-content: center;
	align-items: center;
}

.current-participants-div {
	display: flex;
	justify-content: flex-start;
	width: 610px;
}


.current-price {
	display: flex;
	height: 80px;
	width: 190px;
	color: white;
	font-weight: bold;
	font-size: 24px;
	line-height: 24px;
	background-color: #514869;
	border-radius: 10px;
	margin-top: 20px;
	padding: 5px;
	justify-content: center;
	align-items: center;
}